html {
  overflow-y: scroll;
}

body {
  background: rgb(255, 255, 255);
  color: #555;
  font-family: "Segoe UI",Arial,sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

#header {
  background: rgb(32, 161, 0);
  color: rgb(246, 246, 246);
  font-size: 16px;
  line-height: 1.6em;
  padding: 15px 0;
}

#header h1 {
  display: inline;
}

#header a {
  text-decoration: none;
  color: rgb(221, 221, 221);
  padding-left: 20px;
  font-weight: bold;
  float: right;
}

#header a:hover {
  color: rgb(255, 255, 255);
}

#navbar {
  background: #343a40;
}

#navbar ul {
  padding: 0px;
  list-style: none;
}

#navbar li:nth-child(n+3) {
  float: right;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: rgb(149, 149, 149);
  text-decoration: none;
  font-size: 16px;
  padding-right: 15px;
}

#navbar a.title {
  color: rgb(255, 255, 255);
  font-size: 22px;
}

#navbar a.last {
  padding-right: 0;
}

#navbar a:hover {
  color: rgb(211, 210, 210);
}

#showcase {
  background-image: url('../img/pizza.jpg');
  /* text-align: center; */
  text-align: right;
  min-height: 300px;
  background-position-y: 115em;
  background-position-x: right;
  margin-bottom: 30px;
}

#showcase h1 {
  line-height: 1em;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px #555;
  padding-top: 40px;
  padding-right: 60px;
}

#main{
  float:  left;
	width:70%;
	padding: 0 50px 0 30px;
  box-sizing: border-box;
  text-align: justify;
}

#sidebar{
  float: right;
	width: 30%;
	background: #f8f9fa;
	color: rgb(146, 146, 146);
  padding: 10px;
  border: 1px solid rgb(224, 224, 234);
	box-sizing: border-box;
}

.container {  
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.form-container {
  color: black;
  width: 45%;
  margin: auto;
  float: center;
  border: 1px solid rgb(224, 224, 234);
  border-radius: 5px;
  padding: 20px;
  padding-top: 0;
  margin-top: 40px;
  background: #f8f9fa;
  padding-bottom: 40px;
}

.form-container h2 {
  font-size: 28px;
  font-weight: 500;
}

.my-form {
  padding: 10px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"], .my-form input[type="email"], .my-form input[type="password"], .my-form textarea {
  padding: 10px;
  width: 100%;
  color: rgb(89, 101, 119);
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
  outline-width: 0;
  border: 1px solid rgb(224, 224, 234);
}

.my-form input:focus {
  box-shadow: 0 0 0pt 2pt rgb(179, 206, 255);
}

.my-form input.input-err {
  border: 1px solid red;
}

.err-text {
  color: red;
  font-size: 12px;
}

.column-2 {
  border: 0;
  float: left;
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.author {
  color: #999;
  font-weight: 800;
  float: right;
}

.button {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 14px;
  background-color: rgb(32, 161, 0);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.button:hover {
  background-color: rgb(31, 129, 1);
  color: white;
}

.button-light {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f8f9fa;
  color: rgb(91, 95, 107);
}

.button-light:hover {
  background-color: rgb(230, 231, 238);
  color: rgb(91, 95, 107);
}

#main-footer{
  color: #555;
  text-align: center;
  padding: 5px;
  margin-top: 160px;
  font-weight: 500;
}


